.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #fffafa;
  padding: 20px;
  box-sizing: border-box;
}

.register-box {
  background-color: #a29f9f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.register-box h2 {
  margin-bottom: 20px;
  color: #333333;
}

.register-box label {
  display: block;
  margin: 10px 0 5px;
  color: #333333;
}

.register-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.register-box button {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #d4af37;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-box button:hover {
  background-color: #b2952b;
}

.register-box p {
  color: red;
  margin-top: 10px;
}
